// COLORS
$primary-color: #397394;
$secondary-color: #36cecc;

$white-color: #f7f3cf;
body {
    background-color: #095169; /* Cambia el color a tu preferencia */
  }
  

// $dark-grey: #333333;
$dark-grey: #176585;

$light-grey: #c2e4cb;

$dark-blue-text:#059b9a ; 

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
