// COLORS
$primary-color: #27b1bf;
$secondary-color: #36cecc;

$white-color: #f7f3cf;
// body {
//     background-color: transparent; /* Establece el fondo transparente */
//     background-image: url('ruta_de_la_imagen.png'); /* Ruta de la imagen de textura */
//   }

// $dark-grey: #333333;
$dark-grey: #176585;

$light-grey: #c2e4cb;

$dark-blue-text: #272341; 

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
